.mainHeader {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    top: 0;
    left: 0;
    background:#ebeae6;
    right: 0;
}

.logoHolder {
    display: flex;
    align-items: center;
    padding:15px;
}

// MENU STYLES
.mainMenuBtn {
    position: fixed;
    z-index: 10;
    top: 10px;
    right: 10px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px 0 0 0;
    transition: all ease-out 0.25s;
}

.menuLine {
    width: 16px;
    height: 2px;
    background-color: #0b0b0b;
    opacity: 1;
    transition: all ease-out 0.25s;
    /* transform-origin: 0 0; */
    margin-bottom: 2px;
}

.mainMenuBtn.menuActive {
    transform: rotate(180deg);
}

.mainMenuBtn.menuActive > div:nth-child(1) {
    transform: rotate(45deg) translateY(2px) translateX(2px);
    background-color: #fff;
}

.mainMenuBtn > div:nth-child(2),
.mainMenuBtn.menuActive > div:nth-child(2) {
    opacity: 0;
}

.mainMenuBtn.menuActive > div:nth-child(3) {
    transform: rotate(-45deg) translateY(-4px) translateX(4px);
    background-color: #fff;

}

.menuHolder {
    position: fixed;
    z-index: 4;
    width: 100%;
    height: 100%;
    background-color: #000000af;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: all ease-out .25s;   
}

.showMenu {
    transform: translateX(0%);
}

.mainMenu {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    align-items: center;
    padding-top: 50px;
}

.mainMenu > a {
    padding: 10px;
    width: 100%;
    text-align: center;
    transition: all ease-out 0.25s;
    text-decoration: none;
    color: #fff;
}

.mainMenu > a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}