
<div id="menuHolder" class="menuHolder">
    <nav class="mainMenu">
        <a href="#">I'm one</a>
        <a href="#">happy little menu</a>
        <a href="#">created by</a>
        <a href="#">Vlad :)</a>
    </nav>
</div>

<header class="mainHeader">
    <div class="logoHolder">
        <img src="/assets/img/logo.svg" alt="">
    </div>
    <div class="spacer">

        <div class="mainMenuBtn" id="mainMenuBtn" (click)="onMenuClicked()">
            <div class="menuLine"></div>
            <div class="menuLine"></div>
            <div class="menuLine"></div>
        </div>

    </div>
</header>