<div class="mainWrap">
  <app-header></app-header>
  <div class="mapHolder">
    <drag-scroll class="dragScrollHolder">
      <div drag-scroll-item *ngFor="let location of locations; let i = index" [id]="i" class="dragScrollItem">
        <div class="scrollItemInner">
          <div class="scrollItemInfo">
            <div class="itemImage">
            <img src="/assets/img/room1.png" [alt]="location.title" >
            </div>
            <div class="itemInfoHolder">
              <div class="itemInfoInner">
                <h3 class="itemTitle"> {{ location.title }}</h3>
                <p class="itemDistance">2.3km from the city centre</p>
              </div>
              <div class="itemInfoPrice">
                <p class="price">$54.00 <br>
                  <span class="disclaimer">Designs may vary</span>
                </p>
              </div>
            </div>
          </div>
          <div class="scrollItemAction">
            <button class="bookActionBtn">Book</button>
          </div>
        </div>
      </div>
    </drag-scroll>
    <agm-map class="myMap" 
      [latitude]="lat"
      [longitude]="lng"
      [zoom]="zoom"
      [disableDefaultUI]="false"
     >
      <agm-marker *ngFor="let marker of markers; let i = index"
      [latitude]="marker.lat"
      [longitude]="marker.lng"
      [iconUrl]="marker.active ? marker.iconUrlActive : marker.iconUrl"
      (markerClick)="onMarkerClicked(marker, i)"
      >
      </agm-marker>
    </agm-map>
  </div>
</div>