// just to show i can do variables...
$accent-color: #f7941d;
$accent-color-hover: #d47e13;

// ... and mixins too...
@mixin paddingMixin {
    padding: 5px;
}


.myMap {
    padding-top: 50px;
    height: calc(100vh - 50px);
    width: 100vw;
}

.mainWrap {
    display: flex;
    flex-direction: column;
}

// Dragg Scroller styling
.dragScrollHolder {
    width: 100%;
    position: absolute;
    height: 200px;
    z-index: 2;
    bottom: 0;
    display: flex;
    // transform: translateY(100%);
    // transition: transform ease-out 0.25s;

    .showScroll {
        transform: translateY(0);
    }
}


.scrollItemInner {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}


.itemInfoHolder {
    display: flex;
    flex: 1;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 10px;

    .itemTitle {
        font-size: 15px;
        margin: 0 0 10px 0;
        width: 70%;
        text-overflow: ellipsis;
        overflow: hidden;  
    }
    .itemDistance {
        text-transform: uppercase;
        margin:0;
        font-size: 11px;
        color: #747d85;
        
    }
}

.scrollItemInfo {
    display: flex;
    width:100%
}


.itemImage {
    width: 100px;
    min-width: 100px;
    img {
        width: 100%;
    }
}


.price {
    font-size: 22px;
    font-weight: 500;
    margin:0;
    span.disclaimer {
        font-size: 11px;
        font-weight: 300;
    }
}

.bookActionBtn {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    background-color: $accent-color;
    color:#fff;
    text-transform: uppercase;
    border: none;
    transition: background-color ease-out 0.25s;
    cursor: pointer;
    &:hover {
        background-color: $accent-color-hover;
    }
}

.activeItem {
    .scrollItemInner {
        background-color:#f1e2ce;    
    }
}

.dragScrollItem {
    @include paddingMixin;
    height: 100%;
    min-width: 100vw;
    max-width: 100vw;
}

@media screen and (min-width: 380px) {
    .dragScrollItem {
        min-width: 380px;
        max-width: 380px;
    }
}